html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

[data-game-view="Game"] {
    width:500px;
    height:500px;
}

[data-game-view="Map"] {
    width:100%;
    height:100%;
}

[data-game-view="MapPlace"] {
    width:10%;
    height:10%;

    border:1px solid black;
    float:left;
}

[data-game-map-place-type="1"] {
    
}

[data-game-map-place-type="2"] {
    background: #aaa;
}